html {
    font-size: 62.5%;
}

body {
    font-size:1.6rem;
}

.btn,.form-control {
    font-size:1.6rem;
}

.badge {
    font-size: 1.35rem;
}

.nav-link {
    font-size: 1.9rem;
    word-break: break-word;
}

.dropdown-item {
    font-size: 1.6rem;
}

.center-info-user {
    border: none;
}

svg {
    font-size: 2rem;
}

.svg-plus, .svg-info {
    font-size: 3rem;
}

.user-info {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.container,.col-sm-10 {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-nav {
    flex-direction: row;
    justify-content: space-evenly;
}

.sticky-footer{
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(211,211,211);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }