html {
    font-size: 62.5%;
}

body {
    font-size:1.6rem;
}

.btn,.form-control {
    font-size:1.6rem;
}

.badge {
    font-size: 1.35rem;
}

.nav-link {
    font-size: 1.9rem;
    word-break: break-word;
}

.dropdown-item {
    font-size: 1.6rem;
}

.center-info-user {
    border: none;
}

svg {
    font-size: 2rem;
}

.svg-plus, .svg-info {
    font-size: 3rem;
}